* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #e8eff6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
a{
  text-decoration:none;
}
.logo-header {
  text-align: center;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #dcdcdc;
}

.logo {
  height: 60px;
  max-width: 100%;
}



main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 20px;
}

.signup-card {
  width: 80%;
  max-width: 900px; 
  height:70%;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.signup-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 14px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.terms {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  flex-wrap: wrap;
}

.btn {
  width: 100%;
  padding: 14px;
  background: #0a52c2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.signin-text {
  text-align: center;
  margin-top: 15px;
}


.footer {
    background: #ffffff;
    padding: 24px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    font-size: 13px;
    color: #374151;
}

.footer-links {
    display: flex;
    gap: 40px;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: #374151;
    margin-bottom: 6px;
}

.footer-social span {
    display: block;
    margin-bottom: 8px;
}

.social-icons a {
    margin-right: 12px;
    color: #123c8c;
    font-size: 16px;
}




@media (max-width: 992px) {

  .signup-card {
    max-width: 100%;
    padding: 35px;
  }


}
@media (max-width: 900px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-links {
        justify-content: center;
    }

    .social-icons a {
        margin: 0 10px;
    }
}



@media (max-width: 768px) {

  .signup-card {
    padding: 25px;
    border-radius: 10px;
  }

  input {
    padding: 12px;
  }

  .btn {
    padding: 13px;
  }
}


@media (max-width: 480px) {

  .logo-header {
    padding: 15px;
  }

  .signup-card {
    padding: 18px;
  }

  h2 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
  }

  .terms {
    font-size: 12px;
  }

  footer {
    padding: 15px;
    font-size: 12px;
  }

  footer div {
    width: 100%;
  }

  .footer-center {
    justify-content: center;
  }
}
